<!doctype html>
<html ng-app>
<head>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
    <script src="js/controllers/login.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

<div class="alert-warning">
    <p class="visible-lg">Large</p>
    <p class="visible-md">Medium</p>
    <p class="visible-sm">Small</p>
    <p class="visible-xs">eXtra Small</p>
</div>

<noscript>
    <div class="alert alert-danger">
        You need JavaScript enabled to use TravelDiary.
    </div>
</noscript>

<div class="container" ng-controller="LoginCtrl">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4
                    col-sm12 col-xs-12">

            <h2>Login</h2>

            <div class="alert alert-danger" ng-show="loginError">
                <strong>Login Error!</strong> You provided a wrong email or password
            </div>


            <div class="well">
                <form role="form" ng-submit="login()">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input ng-model="email" type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input ng-model="password" type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                    <input class="btn btn-primary" value="Login" type="submit">
                    <a href="#">Forgot your password?</a>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>