<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" title="Edit">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-default" title="Upload new Content"
                        ng-click="upload()">
                    <span class="glyphicon glyphicon-upload"></span>
                </button>
                <button type="button" class="btn btn-default" title="Share this diary">
                    <span class="glyphicon glyphicon-share-alt"></span>
                </button>
            </div>
            <div class="page-header">
                <h1>{{ diary.title }} <small>/ 2013</small></h1>
            </div>
        </div>
        <div class="col-md-6">
            <a href="#" class="thumbnail">
                <img src="http://maps.googleapis.com/maps/api/staticmap?center=arjang,Sweden&size=500x300&sensor=false" alt="">
            </a>
        </div>
        <div class="col-md-6" ng-bind-html="diary.text_html">
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Sunday, 13. Oktober 2013</h2>
        </div>
        <div class="col-md-6">
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 col-sm-6" ng-repeat="item in [1,2,3]">
                    <a href="#" class="thumbnail" ng-class="{'hidden-sm hidden-xs':$index==2, 'hidden-xs':$index==1}">
                        <img src="http://lorempixel.com/200/200/" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-right">
                        <a href="#"><span class="glyphicon glyphicon-chevron-right"></span> View all photos</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>