<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Upload</h1>
            </div>
        </div>
        <div class="col-md-6 clearfix">
            <div class="well">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="overwrite"> Overwrite data in image.
                    </label>
                </div>
                <div >
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input id="location" type="text" class="form-control"
                               ng-model="location"
                               ng-disabled="!overwrite">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-default" ng-disabled="!overwrite" ng-click="resetMap()">
                            Clear
                        </button>
                        <button class="btn btn-default" ng-disabled="!overwrite" ng-click="selectLocation()">
                            Show on map <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                    </div>

                    <div class="form-group">
                        <label for="date">Date</label>
                        <input id="date" type="date" class="form-control" ng-model="date" ng-disabled="!overwrite">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="map" id="uploadMap"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default upload-area">
                <div class="panel-heading panel-title">
                    <div class="row">
                        <div class="col-md-6" loc-drag-and-drop allowed-types="image/jpg, image/jpeg" file-drop-action="upload(file)">
                            <h3 class=" text-center">
                                Drop files here!
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputFile">Or select them</label>
                                <input type="file" id="exampleInputFile" multiple>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th>Filename</th>
                        <th>Size</th>
                        <th colspan="2">Progress</th>
                    </tr>
                    <tr ng-repeat="upload in uploadingFiles">
                        <td>{{ upload.name }}</td>
                        <td>{{ upload.size }}</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" ng-class="{'progress-bar-danger': upload.status=='error', 'progress-bar-success': upload.status=='done'}"
                                     role="progressbar" style="width: {{ upload.progress }}%">
                                    <span class="sr-only">{{ upload.progress }}% completed</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>