<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Upload</h1>
            </div>
        </div>
        <div class="col-md-6">
            <form role="form" class="well">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Overwrite data in image.
                    </label>
                </div>

                <div class="form-group">
                    <label>Latitude</label>
                    <input type="text" class="form-control" ng-model="lat">
                </div>

                <div class="form-group">
                    <label>Longitude</label>
                    <input type="text" class="form-control" ng-model="lng">
                </div>

                <div class="form-group">
                    <label>Date</label>
                    <input type="date" class="form-control" ng-model="date">
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <p>Placeholder for a map to select lat/lng</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>&nbsp</p>
                    <h3 class="panel-title text-center">
                        Drop files to upload!
                    </h3>
                    <p>&nbsp</p>
                </div>
                <table class="table">
                    <tr>
                        <th>Filename</th>
                        <th>Size</th>
                        <th colspan="2">Progress</th>
                    </tr>
                    <tr>
                        <td>IMG312.JPG</td>
                        <td>5.43 MB</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%">
                                    <span class="sr-only">50% completed</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>